body {
    margin: 0;
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: rgba(41, 5, 5, 0);
      top: 0;
      width: 100%;
      position: fixed; 
  }
  
  li {
      float: right;
  }
  
  li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  li a:hover {
      background-color: red;
  }
  
  header img {
    height: 200px;
    width: 100%;
  }